@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&family=Open+Sans:wght@300&family=Poppins&display=swap');

* {
    font-family: 'Mukta', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    color: black;
}

.filter_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0rem auto;
    background-color: black;
    padding: 1rem;

}

.filter_menu li {
    text-transform: capitalize;
}

.paggination {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    background-color: black;
    position: fixed;
    bottom: 0rem;
    padding: 1rem;
}

.image:hover {
    transform: scale(1.1);
    transition: all 1s linear;
    overflow: hidden;
    cursor: pointer;
}


/* ========Error Page =========== */

.error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
    width: 400px;
    height: 400px;

}

.error_dev {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}